<phpunit>
    <php>
        <ini name="memory_limit" value="512M"/>
    </php>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../src</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="talis-php_unit_tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit>
